.request-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__headers-title {
        margin: 1rem 0;
        font-weight: normal;
    }

    &__body-title {
        margin: 1rem 0;
        font-weight: normal;
    }
}
