.button {
    padding: 0.5rem;
    border: var(--btn-border);
    border-radius: 1rem;
    background-color: var(--btn-bg-color);

    &:hover {
        background-color: var(--active-btn-bg-color);
    }
}
