.proxy-panel {
    display: flex;
    flex-direction: column;
    border-right: $border;
    border-bottom: $border;
    height: fit-content;
    padding-bottom: 2rem;

    &_hidden {
        display: none;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__header-container {
        display: flex;
        padding: 1rem;
        padding-right: 0;
        background-color: $title-bg-color;
    }
    
    &__header-title {
        font-weight: normal;
    }
    
    &__header-description {
        font-weight: normal;
        color: $text-secondary-color;
    }
    
    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 2rem;
    }

    &__address {
        display: flex;
        gap: 2rem;
    }

    &__host {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &-value {
            background-color: $active-btn-bg-color;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
    }

    &__host-title {
        font-weight: 500;
    }

    &__port {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &-value {
            background-color: $active-btn-bg-color;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
    }

    &__port-title {
        font-weight: 500;
    }
}

.close-button {
    min-width: 2rem;
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
    margin-bottom: auto;
}
