@use '@styles/mixins' as *;

.request-details {
    position: sticky;
    border: var(--border);
    border-top: none;

    &_hidden {
        display: none;
    }

    &__container {
        position: sticky;
        top: var(--header-height);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--title-bg-color);
    }

    &__title-container {
        padding: 1rem;
        border-bottom: var(--border);
    }

    &__title {
        font-weight: normal;
    }

    &__description {
        @include text-secondary;
    }

    &__close-button {
        display: flex;
        min-width: 2rem;
        width: 2rem;
        height: 2rem;
        margin: 1rem;
        margin-bottom: auto;
        padding: 0;
        border: none;
        border-radius: 50%;
        background: none;

        &:hover {
            background-color: var(--active-btn-bg-color);
        }
    }

    &__badges {
        display: flex;
        gap: 1rem;
        margin: 1rem 0;
    }
}
