.request-details {
    border: $border;
    border-top: none;

    &_hidden {
        display: none;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $title-bg-color;
    }

    &__title-container {
        padding: 1rem;
        border-bottom: $border;
    }

    &__title {
        font-weight: normal;
    }

    &__description {
        font-weight: normal;
        color: $text-secondary-color;
    }

    &__close-button {
        display: flex;
        min-width: 2rem;
        width: 2rem;
        height: 2rem;
        margin: 1rem;
        margin-bottom: auto;
        padding: 0;
        border: none;
        border-radius: 50%;
        background: none;

        &:hover {
            background-color: $active-btn-bg-color;
        }
    }

    &__badges {
        display: flex;
        gap: 1rem;
        margin: 1rem 0;
    }
}
