@mixin text-primary {
    font-weight: 400;
    color: var(--text-color);
}

@mixin text-secondary {
    font-weight: 400;
    color: var(--text-secondary-color);
}

@mixin text-link {
    @include text-primary;
    text-decoration: none;
}

@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        background: var(--scrollbar-track-bg-color);
        border: 1px solid var(--scrollbar-track-border-color);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb-bg-color);
        border: 0.1rem solid var(--scrollbar-thumb-border-color);
        border-radius: 0.25rem;

        &:hover {
            background-color: var(--scrollbar-thumb-bg-hover-color);
        }

        &:active {
            background-color: var(--scrollbar-thumb-bg-active-color);
        }
    }
}