:root {
    --bg-color: white;
    --btn-bg-color: white;
    --btn-border: 0.05rem solid black;
    --active-btn-bg-color: #e9ebef;
    --text-secondary-color: #717182;
    --border: 1px solid #dee1e7;
}
