.tablist {
    &__header {
        display: inline-flex;
        gap: 1rem;
        padding: 0.5rem;
        margin: 1rem;
        background-color: $active-btn-bg-color;
        border-radius: 1rem;
    }

    &__title-button {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        background-color: $active-btn-bg-color;
        border-radius: 1rem;
        transition: $active-bg-transition;

        &_active {
            background-color: $bg-color;
        }

        &:hover {
            background-color: $bg-color;
            cursor: default;
        }
    }

    &__content {
        padding: 1rem;
    }
}
