.tablist {
    &__header {
        display: inline-flex;
        gap: 1rem;
        padding: 0.5rem;
        margin: 1rem;
        background-color: var(--active-btn-bg-color);
        border-radius: 1rem;
    }

    &__title-button {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        background-color: var(--active-btn-bg-color);
        border-radius: 1rem;
        transition: var(--active-bg-transition);

        &_active {
            background-color: var(--bg-color);
        }

        &:hover {
            background-color: var(--bg-color);
            cursor: default;
        }
    }

    &__content {
        padding: 1rem;
    }
}
