.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-bottom: $border;

    &__left-side {
        display: flex;
        align-items: center;
    }

    &__logo-container {
        display: flex;
        width: 5rem;
    }

    &__title-container {
        margin: 0.5rem;
    }
    
    &__title {
        font-weight: normal;
    }

    &__description-container {
        margin: 0.5rem;
    }

    &__description {
        font-weight: lighter;
        color: #717182;
    }

    &__llm-button {
        margin: 0.5rem;
    }
}