.request {
    transition: var(--active-bg-transition);

    &_selected {
        background-color: var(--active-btn-bg-color);
    }

    &:hover {
        background-color: var(--active-btn-bg-color);
    }

    &__details-container {
        padding: 1rem;
        align-items: center;
        border-bottom: var(--border);
    }

    &__warning-container {
        width: 2rem;
        height: 2rem;
        min-width: 2rem;
    }
}
