.request-list {
    width: 100%;
    border-top: var(--border);

    &__header {
        padding: 1rem;
        text-align: start;
        border-bottom: var(--border);
        font-weight: 600;
    }
}
