.llm-panel {
    display: flex;

    &__content {
        padding: 1rem;
        background-color: var(--active-btn-bg-color);
        border-radius: 1rem;
        font-family: var(--font-family-regular);
    }

    &__paragraph {
        margin: 0;
    }

    &__vulnerabilities {
        display: flex;
        flex-direction: column;
    }

    &__secrets {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__secret {
        display: flex;
        flex-direction: column;
    }
}

.checklist {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__item {
        margin: 0;
    }
}
