.main-content {
    margin: 0 2rem;
    max-width: 50vw;

    &__title-container {
        padding: 1rem;
        border: var(--border);
    }

    &__title {
        font-weight: normal;
    }

    &__request-count {
        font-weight: normal;
        color: var(--text-secondary-color);
    }
}
