@use '@styles/mixins' as *;

.main-content {
    width: 100%;

    &__header-container {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        background-color: var(--title-bg-color);
    }

    &__title {
        font-weight: normal;
    }

    &__request-count {
        @include text-secondary;
    }

    &__clear-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
