@use '@styles/variables';

.main-content {
    width: 100%;

    &__title-container {
        padding: 1rem;
        background-color: $title-bg-color;
    }

    &__title {
        font-weight: normal;
    }

    &__request-count {
        font-weight: normal;
        color: $text-secondary-color;
    }
}
